<html>
 <head>
 <title>Gráficas externas</title>
 </head>
 <body background="https://i.hipertextual.com/2017/03/22/e5733c310c3643aa29fd22378d1c1b40.png">
   <div align="center" style="font-family:candara;font-size:20px;">
     <h3>Últimos 15 números aleatorios introducidos en la BBDD</h3>
     <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1194117/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=15&type=line"></iframe>

     <h3>Último número aleatorio generado</h3>
     <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1194117/widgets/226471"></iframe>
   <br><br><a href = "/">Volver a la página principal</a>
 </div>
</body>
</html>
