
<html>
 <head>
 <title>Página Principal</title>
 </head>
 <body background='https://i.hipertextual.com/2017/03/22/4e4dda6144037fcffe210fd670c6dc8a.jpg'>
   <div style="font-family:candara;">
     <h1 align="center">Práctica 1 - Computación en Red</h1>
     <div>
       <a style="font-size:130%;" href = "/register">Registro</a> | <a style="font-size:130%;" href = "/login">Iniciar Sesión</a> | <a style="font-size:130%;" href = "/logout">Cerrar Sesión</a>
       <p style="color:white;font-family:courier;"><i>{{msj}}<i><br>
         <i>{{peticiones}}<i></p>
     </div>
     <br>
     <div>
       <form method = "POST" action = "./media_1">
         <input style="font-size: 14px;" type = "submit" value = "Media BBDD local"><br>
       </form>

       <form method = "POST" action = "./media_2">
         <input style="font-size: 14px;" type = "submit" value = "Media BBDD Internet"><br>
       </form>

       <form method = "POST" action = "./graficas_externas">
         <input style="font-size: 14px;" type = "submit" value = "Gráficas externas"><br>
       </form>
     </div>

     <div>
     <form method = "POST" action = "./umbral_historico">
       Umbral histórico  <input type = 'number' name = 'umbral'>
       <input style="font-size: 14px;" type = "submit" value = "Calcula"><br>
     </form>
   </div>

    <div style="font-family:courier;">
     <p><i>{{media}}<i><br>
        <i>{{umbral}}<i><br>
        <i>{{n_aleatorio}}<i></p>
    </div>
  </div>
 </body>
 </html>
