
<html>
 <head>
  <title>Inicia Sesión</title>
 </head>
 <body background="https://i.hipertextual.com/2017/03/22/3fcc5beaf6be222e1c720c947822c974.jpg">
   <div align="center" style="font-family:candara;color:white;">
    <form method = "POST" action = "./success_login">
      <h1>-----Inicia sesión-----</h1><br>
         <table style="font-size:20px;color:white;">
               <tr><td>Email  </td><td><input type = 'email' name = 'email'></td></tr>
               <tr><td>Password  </td><td><input type = 'password' name = 'pass'></td></tr>
               <tr><td><input type = "submit" value = "Submit" align="center"></td></tr>
           </table>
       </form>
       <h3 style="font-family:courier;"><i>{{msj}}</i></h3>
       <br><br><a style="color:ffc1d3" href = "/">Volver a la página principal</a>
    </div>
 </body>
 </html>
