
<html>
 <head>
 <title>Registro nuevo usuario</title>
 </head>
 <body background="https://i.hipertextual.com/2017/03/22/a55ad5e64309052e67353a39cc4e45f7.png">
   <div align="center" style="font-family:candara;color:white;">
    <form method = "POST" action = "./success">
      <h1>-----Registro nuevo usuario-----</h1><br>
         <table style="font-size:20px;color:white;">
               <tr><td>Email</td><td><input type = 'email' name = 'email'></td></tr>
               <tr><td>Username</td><td><input type = 'user' name = 'user'></td></tr>
               <tr><td>Password</td><td><input type = 'password' name = 'pass'></td></tr>
               <tr><td><input type = "submit" value = "Submit"></td></tr>
         </table>
       </form>
       <h3 style="font-family:courier;"><i>{{msj}}<i></h3>
      <br><br><a style="color:ffc1d3" href = "/">Volver a la página principal</a>
    </div>
 </body>
 </html>
